extends ../layouts/auth
block content
    h1.sr-only= t("forgotpassword.FORGOT_PASSWORD_TITLE")
    .auth-box
        .auth-box-col
            .auth-box-brand
                if Array.isArray(logo)
                    a(href='/').auth-box-logo: img(src=logo[0], width=logo[1], height=logo[2], alt=brand)
                else if logo
                    a(href='/').auth-box-logo: img(src=logo, alt=brand)
                else
                    a(href='/').auth-box-logo: img(src='/keystone/images/logo.png', width=205, height=68, alt=brand)
        .auth-box-col
            h2.auth-title= t("forgotpassword.FORGOT_PASSWORD_TITLE")
            form(method="post", novalidate).auth-form
                input(type='hidden', name=csrf_token_key, value=csrf_token_value)
                input(type='hidden', name='action', value='forgot-password')
                .form-group
                    label(for='email')= t("EMAIL")
                    input(type='email', name='email', id='email').form-control
                button(type='submit').btn.btn-primary= t("forgotpassword.EMAIL_PASSWORD_RESET_LINK")